@charset "UTF-8";

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.itemBannerTitle {
	font-family: 'Cafe24SsurroundAir';
	font-size: 1.5rem;
	display: table;
	margin: 1rem auto;
	border-bottom: 1px solid black
}
.itemBannerTitle > spam{
	
}
a img {
	width: 100%;
}
.mainBannerSwiper {
	z-index: 3;
}
.sideBannerGrid {
	margin: 0 auto;
	width: 100%;
}
.sideBannerDiv {
	margin: 0;
	width: 100%;
}