@charset "UTF-8";

body, .table, td{
    color: #666666;	
}
th{
    color: black;
}
th, td{
	height: 2rem;
	vertical-align: middle;
}
.keywordBox{
	width: 500px;
	border: 2px solid #2e2e2e;
	font-size: 16px;
    font-weight: bold;
    padding: 15px;
    color: #666666;
    height: 22px;
    line-height: 24px;
    vertical-align: middle;
    display: table;
    margin: 0 auto;
}

.mainSearchArea{
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.mainSearchResultCnt{
	font-size: 19px;
    text-align: center;
    margin: 20px 0;
    color: #666666;
}
strong{
	font-weight: bolder;
}

.searchSelectBox{
    color: #666666;	
	width: 80%;
	font-size: 15px;
}
input{
    color: #666666;	
	border: 1px solid #666666;	
	font-size: 15px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}