@charset "UTF-8";

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainBannerDiv{
	margin: 0;
	padding: 0;
}
.itemBannerTitle {
	font-family: 'Cafe24SsurroundAir';
	font-size: 1.5rem;
	line-height: 2rem;
	display: inline-block;
	margin: 1rem auto;
	padding-top: 1rem;
	border-bottom: 1px solid black;
	color: black;
}
a img {
	width: 100%;
}
.mainBannerSwiper {
	z-index: 3;
}
.sideBannerGrid {
	margin: 0 auto;
	width: 100%;
}
.sideBannerDiv {
	margin: 0;
	width: 100%;
}
.mainRow{
	height: auto;
}
