@charset "UTF-8";


a {
	text-decoration: none;
	color: black;
}
.firstMenuDiv {
	font-weight: lighter;
	color: #707071;
	text-align: right;
	font-size: 0.8rem;
	height: 2rem;
	margin-top: 10px;
}
.firstMenuUl > li {
	display: table;
	float: right;
	padding-left: 1rem;
	font-size: 0.8rem;
}
.firstMenuUl a {
	color: #707071;
	font-size: 0.8rem;
}
.titleA {
	font-size: 2rem;
	margin: 1rem;	
}
.titleSpan {
	font-weight: bold;
}
.secondMenuDiv {
	font-size: 0.7rem;
}
.secondMenuDiv input[type="search"] {
	border: 0;
	height: 1.2rem;
	background-color: #f8f9fa;
	font-size: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.searchArea{
	border-bottom: 1px solid #8bbdbd;
	padding: 0;
	height: 1.5rem;
}
.container-fluid {
	margin-top: auto;
	height: 100%;
}
.navbar-toggler-icon {
	width: 1rem;
    height: 1rem;
}
.navbar-toggler {
    padding: .1rem .2rem;
}
.navbar {
	padding: 1px;
}
/* 타이틀 css */
.titleButton {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.titleButton:before,
.titleButton:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.titleButton:before {
  border-color: #c47135;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.titleButton:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.titleButton:hover,
.titleButton.hover {
  background-color: #c47135;
}
.titleButton:hover:before,
.titleButton.hover:before,
.titleButton:hover:after,
.titleButton.hover:after {
  height: 100%;
  width: 100%;
}
/* 타이틀 css */