@charset "UTF-8";


a {
	text-decoration: none;
	color: black;
}
.firstMenuDiv {
	font-weight: lighter;
	color: #707071;
	text-align: right;
	font-size: 0.8rem;
	height: 3rem;
	margin-top: 10px;
}
.firstMenuUl > li {
	display: table;
	float: right;
	padding-left: 1rem;
	font-size: 0.8rem;
}
.firstMenuUl a {
	color: #707071;
	font-size: 0.8rem;
}
.titleA {
	font-size: 2rem;
	margin: 1rem;	
}
.titleSpan {
	font-weight: bold;
}
.secondMenuDiv {
	font-size: 0.7rem;
}
.secondMenuDiv input[type="search"] {
	border: 0;
	height: 1.2rem;
	background-color: #f8f9fa;
	font-size: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.searchArea{
	border-bottom: 1px solid #8bbdbd;
	padding: 0;
	height: 1.5rem;
}
.container-fluid {
	margin-top: auto;
	height: 100%;
}
.navbar-toggler-icon {
	width: 1rem;
    height: 1rem;
}
.navbar-toggler {
    padding: .1rem .2rem;
}
.navbar {
	padding: 1px;
}