@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.aaa{
	background-color: aqua;
}
.templateMenuDiv{
	margin: 0;
	padding: 0;
}
.container-fluid{
	width: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn-primary{
	background-color: #555555;
	border: 2px solid #818181;
}
.btn-primary:hover{
	background-color: white;
	color: black;
	border: 2px solid #555555;
}
body {
	font-family: 'NanumSquareRound';
	}
.path{
	overflow: left;
    height: 30px;
    line-height: 30px;
    padding: 15px 0 10px;
    color: #333333;
}
.path ol{
	float: left;
}
.path li{
	display: inline-block;
}
.path a{
	text-decoration: none;
    color: #666666;
}
.warning{
	color: #008bcc;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.blackButton, .blackButton2 {
  background-color: #555555;
  color: white;
  border: 2px solid #818181;
}

.blackButton:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.blackButton2:hover, .btn-primary:hover {
  color: black;
  border: 2px solid #555555;
}
.whiteButton {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.whiteButton:hover {
    background-color: #555555;
    color: white;
}
.smallBtn{
	font-size: 13px;
	padding: 10px 15px 10px 15px;
}
.f-right{
	float: right;
}
.submitButton{
	display: table;
	margin: 20px auto;
	width: 10rem;
}
.templateMainPageDiv, .templateFootDiv{
	margin: 0;
	padding: 0;
}
.botBorder-1b{
	border-bottom: 1px solid #1b1b1b;
}
.botBorder-ed{
	border-bottom: 1px solid #ededed;
}
.botBorder-ef{
	border-bottom: 1px solid #efefef;
}
.border-ed{
	border: 1px solid #ededed;
}
.fc66{
	color: #666666;
}
.fc1b{
	color: #1b1b1b;
}
.pageTitleDiv{
	margin-top: 2rem;
}
.pageSubTitleDiv{
	padding-top: 10px;
	padding-bottom: 10px;
}
.pageInfoTable{
	-bs-gutter-x: 1.5rem;
	width: 100%;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	margin: 0 auto;
}
.pageInfoTable th, .pageInfoTable td{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #efefef;
	vertical-align: middle;
}
.pageInfoTable2Div, .buyTableDiv{
	padding: 0;
}
.pageInfoTable2, .buyTable{
	width: 100%;
	border-top: 2px solid #dedede;
	border-bottom: 2px solid #dedede !important;
}
.pageInfoTable2 th, .pageInfoTable2 td{
	padding: 14px 0 14px 18px;
	color: #666666;
	border-bottom: 1px solid #efefef;
	vertical-align: middle;
}
.buyTable th{
	padding: 14px 0 14px 18px;
	color: #666666;
	border-top: 1px solid #dedede;
	border-bottom: 2px solid #dedede !important;
	vertical-align: middle;
	height: 70px;
	background: #fbfafa;
}
.buyTable td{
	padding: 14px 0 14px 18px;
	color: #666666;
	border-bottom: 1px solid #efefef;
	vertical-align: middle;
	font-size: 22px;
}
.onclickImg:hover{
	cursor: pointer;
}
.page-item{
	padding: 3px 10px;
}
.page-link{
	color: black;
	border: none;
	padding: 3px 2px;
}
.page-item.active .page-link{
	background-color: transparent;
	border-color: #555555;
	color: #555555;
	border-bottom: 1px solid #555555;
}

.page-link:hover {
	color: #555555;
	background-color: transparent;
}