<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="adminMapper">
	<resultMap type="com.kh.project.admin.vo.CategoryVO" id="category">
		<id column="CATE_CODE" property="cateCode"/>
		<result column="CATE_NAME" property="cateName"/>
	</resultMap>
	
	
	<insert id="insertCategory">
		INSERT INTO CATEGORY (
			CATE_CODE
			, CATE_NAME
		) VALUES(
			(SELECT 'CATE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CATE_CODE, 6, 3))), 0) + 1, 3, '0') FROM CATEGORY)
			, #{cateName}
		)
	</insert> 
	<select id="selectCategoryList" resultMap="category">
		SELECT CATE_CODE
		, CATE_NAME
		FROM CATEGORY
		ORDER BY CATE_CODE
	</select>
	
	<delete id="deleteCategory">
		DELETE CATEGORY
		WHERE CATE_CODE = #{cateCode}
	</delete>

</mapper>













