<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="adminMapper">
	<resultMap type="com.kh.project.admin.vo.CategoryVO" id="category">
		<id column="CATE_CODE" property="cateCode"/>
		<result column="CATE_NAME" property="cateName"/>
	</resultMap>
	<resultMap type="com.kh.project.item.vo.ItemVO" id="item">
		<id column="ITEM_CODE" property="itemCode"/>
		<result column="ITEM_NAME" property="itemName"/>
		<result column="ITEM_PRICE" property="itemPrice"/>
		<result column="ITEM_INTRO" property="itemIntro"/>
		<result column="ITEM_STOCK" property="itemStock"/>
		<result column="ITEM_STATUS" property="itemstatus"/>
		<result column="CATE_CODE" property="cateCode"/>
		<collection property="imgList" resultMap="img"/>
	</resultMap>
	
	<resultMap type="com.kh.project.admin.vo.SalesManageVO" id="view">
		<result column="ITEM_CODE" property="itemCode"/>
		<result column="ITEM_NAME" property="itemName"/>
		<result column="TOTAL_PRICE" property="totalPrice"/>
		<result column="CATE_CODE" property="cateCode"/>
		<result column="BUY_DATE" property="buyDate"/>
		<result column="BUY_CNT" property="buyCnt"/>
	</resultMap>
	<!-- 이미지 -->	
	<resultMap type="com.kh.project.item.vo.ImgVO" id="img">
		<id column="IMG_CODE"				property="imgCode"/>
		<result column="ORIGIN_IMG_NAME"	property="originImgName"/>
		<result column="ATTACHED_IMG_NAME"	property="attachedImgName"/>
		<result column="ITEM_CODE"			property="itemCode"/>
		<result column="IS_MAIN"			property="isMain"/>
	</resultMap>

	<resultMap type="com.kh.project.admin.vo.OrderInfoVO" id="order">
		<id column="BUY_CODE"				property="buyCode"/>
		<result column="ITEM_CODE"			property="itemCode"/>
		<result column="ID"					property="id"/>
		<result column="TOTAL_PRICE"		property="totalPrice"/>
		<result column="BUY_DATE"			property="buyDate"/>
		<result column="BUY_CNT"			property="buyCnt"/>
		<result column="ITEM_NAME"			property="itemName"/>
		<result column="PAYMENT_PLAN"		property="paymentPlan"/>
		<result column="BUY_STATUS"		property="buyStatus"/>
	</resultMap>
	
	<resultMap type="com.kh.project.admin.vo.BuyStatusVO" id="status">
		<id column="STATUS_NUM"				property="statusNum"/>
		<result column="STATUS_NAME"			property="statusName"/>
	</resultMap>
	
	
	
	<insert id="insertCategory">
		INSERT INTO CATEGORY (
			CATE_CODE
			, CATE_NAME
		) VALUES(
			(SELECT 'CATE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CATE_CODE, 6, 3))), 0) + 1, 3, '0') FROM CATEGORY)
			, #{cateName}
		)
	</insert> 
	<select id="selectCategoryList" resultMap="category">
		SELECT CATE_CODE
		, CATE_NAME
		FROM CATEGORY
		ORDER BY CATE_CODE
	</select>
	
	<delete id="deleteCategory">
		DELETE CATEGORY
		WHERE CATE_CODE = #{cateCode}
	</delete>
	
	<!-- 매출관리를 위한 상품정보 목록 -->
	<select id="selectSalesList" resultMap="view">
		SELECT ITEM_CODE
			, TOTAL_PRICE
			, CATE_CODE
			, BUY_CNT
			, TO_CHAR(BUY_DATE, 'YYYY.MM.DD') AS BUY_DATE
			, ITEM_NAME
		FROM SALES
	</select>
	
	
	<insert id="insertImgs">
		INSERT INTO ITEM_IMG(
			IMG_CODE
			, ORIGIN_IMG_NAME
			, ATTACHED_IMG_NAME
			, ITEM_CODE
			, IS_MAIN
		)
		<foreach collection="imgList" item="imgInfo" separator="UNION ALL">
			SELECT
				#{imgInfo.imgCode}
				, #{imgInfo.originImgName}
				, #{imgInfo.attachedImgName}
				, #{imgInfo.itemCode}
				, #{imgInfo.isMain}
			FROM DUAL
		</foreach>
	</insert>
	
	<select id="selectNextNumber" resultType="int">
		SELECT NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE, 5, 3)))+1, 1) AS IMG_CODE
		FROM ITEM_IMG
	</select>
	
	<select id="selectNextItemCode" resultType="String">
		SELECT 'ITEM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ITEM_CODE, 6, 3))), 0)+1, 3, '0') AS ITEM_CODE
		FROM ITEM
	</select>
	
	<insert id="insertItem">
		INSERT INTO ITEM(
			ITEM_CODE
			, ITEM_PRICE
			, ITEM_INTRO
			, ITEM_STOCK
			, ITEM_STATUS
			, ITEM_NAME
			, CATE_CODE
		) VALUES(
			#{itemCode}
			, #{itemPrice}
			, #{itemIntro}
			, #{itemStock}
			, #{itemStatus}
			, #{itemName}
			, #{cateCode}
		)
	</insert>
	<!-- 해당카테고리의 상품의 매출조회 -->
	<select id="selectSalesByCate" resultMap="view">
		SELECT ITEM_CODE
			, ITEM_NAME
			, CATE_CODE
			, TOTAL_PRICE
			, BUY_CNT
			, TO_CHAR(BUY_DATE, 'YYYY.MM.DD') AS BUY_DATE
		FROM SALES
		WHERE CATE_CODE = #{cateCode}
	</select>
	
	<!-- 주문정보조회 -->
	<select id="selectOrderList" resultMap="order">
		SELECT BUY_CODE
		, ITEM_NAME
		, TOTAL_PRICE
		, BUY_CNT
		, BUY_DATE
		, ID
		, PAYMENT_PLAN
		FROM ORDER_INFO
	</select>
	
	<select id="selectStatus" resultMap="status">
		SELECT STATUS_NUM
		, STATUS_NAME
		FROM BUY_STATUS
	</select>


</mapper>













