<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="cartMapper">

	<resultMap type="com.kh.project.cart.vo.CartViewVO" id="cartView">
		<id column="CART_CODE" 					property="cartCode"/>
		<result column="ITEM_CODE" 				property="itemCode"/>
		<result column="ITEM_NAME"				property="itemName"/>
		<result column="ITEM_PRICE" 			property="itemPrice"/>
		<result column="TOTAL_PRICE" 			property="totalPrice"/>
		<result column="ATTACHED_IMG_NAME" 		property="attachedImgName"/>
		<result column="ITEM_CNT" 				property="itemCnt"/>
		<result column="ID" 					property="id"/>
		<result column="CART_DATE" 				property="cartDate"/>
		<result column="ITEM_STOCK" 			property="itemStock"/>
	</resultMap>
	<resultMap type="com.kh.project.cart.vo.BuyInfoVO" id="buyInfo">
		<id column="BUY_CODE"					property="buyCode"/>
		<result column="ITEM_CODE"				property="itemCode"/>
		<result column="ID"						property="id"/>
		<result column="TOTAL_PRICE"			property="totalPrice"/>
		<result column="ITEM_PRICE"				property="itemPrice"/>
		<result column="BUY_DATE"				property="buyDate"/>
		<result column="ITEM_NAME"				property="itemName"/>
		<result column="CATE_CODE"				property="cateCode"/>
		<result column="BUY_CNT"				property="buyCnt"/>
		<result column="BUY_STATUS"				property="buyStatus"/>
		<result column="PAYMENT_PLAN"			property="paymentPlan"/>
		<result column="DELIVERY_NAME"			property="deliveryName"/>
		<result column="DELIVERY_TELL"			property="deliveryTell"/>
		<result column="DELIVERY_EMAIL"			property="deliveryEmail"/>
		<result column="DELIVERY_MSG"			property="deliveryMsg"/>
		<result column="POST_CODE"				property="postCode"/>
		<result column="ROAD_ADDR"				property="roadAddr"/>
		<result column="DETAIL_ADDR"			property="detailAddr"/>
		<result column="ORDER_CODE"				property="orderCode"/>
		<result column="ATTACHED_IMG_NAME"		property="attachedImgName"/>
		<result column="ALL_TOTAL_PRICE"		property="allTotalPrice"/>
	</resultMap>
	<resultMap type="com.kh.project.cart.vo.DeliveryInfoVO" id="deliveryInfo">
		<result column="DELIVERY_NAME"			property="deliveryName"/>
		<result column="POST_CODE"				property="postCode"/>
		<result column="ROAD_ADDR"				property="roadAddr"/>
		<result column="DETAIL_ADDR"			property="detailAddr"/>
		<result column="DELIVERY_TELL"			property="deliveryTell"/>
		<result column="TELL1"	 				property="tell1"/>
		<result column="TELL2"	 				property="tell2"/>
		<result column="TELL3"	 				property="tell3"/>
		<result column="DELIVERY_EMAIL"			property="deliveryEmail"/>
		<result column="EMAIL1"					property="email1"/>
		<result column="EMAIL2"					property="email2"/>
		<result column="DELIVERY_MSG"			property="deliveryMSG"/>
	</resultMap>
	<resultMap type="com.kh.project.admin.vo.OrderInfoVO" id="order">
		<id column="BUY_CODE"					property="buyCode"/>
		<result column="ITEM_CODE"				property="itemCode"/>
		<result column="ID"						property="id"/>
		<result column="TOTAL_PRICE"			property="totalPrice"/>
		<result column="BUY_DATE"				property="buyDate"/>
		<result column="BUY_CNT"				property="buyCnt"/>
		<result column="ITEM_NAME"				property="itemName"/>
		<result column="PAYMENT_PLAN"			property="paymentPlan"/>
		<result column="BUY_STATUS"				property="buyStatus"/>
		<result column="ROAD_ADDR"				property="roadAddr"/>
		<result column="DETAIL_ADDR"			property="detailAddr"/>
		<result column="ALL_TOTAL_PRICE"		property="allTotalPrice"/>
	</resultMap>
	
	<!-- 장바구니에 추가 -->
	<insert id="insertCart">
		INSERT INTO ITEM_CART(
			CART_CODE
			, ITEM_CODE
			, ITEM_CNT
			, ID
		) VALUES (
			(SELECT 'CART_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CART_CODE, 6, 4))), 0) + 1, 4, '0')
         	 FROM ITEM_CART)
			, #{itemCode}
			, #{itemCnt}
			, #{id}
		)
	</insert>
	
	<!-- 장바구니 조회 -->
	<select id="selectCartViewList" resultMap="cartView">
		SELECT ITEM_CODE
			, ID
			, ITEM_NAME
			, ITEM_PRICE
			, TOTAL_PRICE
			, ATTACHED_IMG_NAME
			, CART_DATE
			, CART_CODE
			, ITEM_CNT
		FROM CART_VIEW
		WHERE ID = #{id}
	</select>
	
	<!-- 남은수량포함 장바구니 -->
	<select id="selectCartViewWithStockList" resultMap="cartView">
		SELECT C.ITEM_CODE
			, ID
			, C.ITEM_NAME
			, C.ITEM_PRICE
			, TOTAL_PRICE
			, ATTACHED_IMG_NAME
			, CART_DATE
			, CART_CODE
			, C.ITEM_CNT
            , (SELECT ITEM_STOCK FROM ITEM I WHERE I.ITEM_CODE = #{itemCode}) AS ITEM_STOCK
		FROM CART_VIEW C
		WHERE ID = #{id}
        AND C.ITEM_CODE = #{itemCode}
	</select>
	<!-- 장바구니 총 가격 조회 -->
	<select id="selectCartAllTotalPrice" resultType="int">
		SELECT SUM(TOTAL_PRICE) AS ALL_TOTAL_PRICE FROM CART_VIEW WHERE ID = #{id}
	</select>
	
	<!-- 바로구매 눌럿을 경우 조회 -->
	<!-- 바로구매 눌렀을때 장바구니에 같은제품 들어있는지 확인 -->
	<select id="directSelectCartViewList" resultMap="cartView">
		SELECT ITEM_CODE
			, ID
			, ITEM_NAME
			, ITEM_PRICE
			, TOTAL_PRICE
			, ATTACHED_IMG_NAME
			, CART_DATE
			, CART_CODE
			, ITEM_CNT
		FROM CART_VIEW
		WHERE ID = #{id}
		AND ITEM_CODE = #{itemCode}
	</select>
	
	<!-- 장바구니에 있는 동일한 기존제품 삭제 -->
	<delete id="deleteSameCart">
		DELETE ITEM_CART
		WHERE ID = #{id}
		AND ITEM_CODE = #{itemCode}
	</delete>
	
	<!-- 상품 갯수 수정 -->
	<update id="updateCartCnt">
		UPDATE ITEM_CART
		SET ITEM_CNT = (SELECT ITEM_CNT FROM ITEM_CART WHERE ID = #{id} AND ITEM_CODE = #{itemCode}) + #{itemCnt}
		WHERE ID = #{id}
		AND ITEM_CODE = #{itemCode}
	</update>
	
	<!-- 구매 목록 상품 삭제 -->
	<delete id="deleteCartItem">
		DELETE ITEM_CART
		WHERE ITEM_CODE = #{itemCode}
		AND ID = #{id}
	</delete>
	
	<!-- 일괄구매 카트삭제 -->
	<delete id="deleteCart">
		DELETE ITEM_CART
		WHERE ID = #{id}
	</delete>
	
	<!-- 구매 목록 지웟는데 뒤로가기로 왔을때 확인 -->
	<select id="selectCheckPurchaseData" resultType="int">
		SELECT COUNT(ITEM_CODE)
		FROM ITEM_CART
		WHERE ID = #{id}
		AND ITEM_CODE = #{itemCode}
	</select>
	
	<!-- 구매후 주문정보에 추가 -->
	<insert id="insertBuyInfo">
		INSERT INTO BUY_INFO(
			BUY_CODE
			, ITEM_CODE
			, ID
			, TOTAL_PRICE
			, BUY_CNT
			, DELIVERY_NAME
			, DELIVERY_TELL
			, DELIVERY_EMAIL
			, DELIVERY_MSG
			, POST_CODE
			, ROAD_ADDR
			, DETAIL_ADDR
			, ORDER_CODE
			, ATTACHED_IMG_NAME
		) VALUES (
			(SELECT 'BUY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(BUY_CODE, 6, 3))), 0) + 1, 4, '0') FROM BUY_INFO)
			, #{itemCode}
			, #{id}
			, #{totalPrice}
			, #{buyCnt}
			, #{deliveryName}
			, #{deliveryTell}
			, #{deliveryEmail}
			, #{deliveryMsg}
			, #{postCode}
			, #{roadAddr}
			, #{detailAddr}
			, #{orderCode}
			, #{attachedImgName}
		)
	</insert>
	
	<!-- 방금 산거 조회 -->
	<select id="selectRecentBoughtInfo" resultMap="buyInfo">
		SELECT BUY_CODE
			, ITEM_CODE
			, ID
			, TOTAL_PRICE
			, TO_CHAR(BUY_DATE, 'YY-MM-DD HH24-MI') AS BUY_DATE
			, BUY_CNT
			, BUY_STATUS
			, PAYMENT_PLAN
			, DELIVERY_NAME
			, DELIVERY_TELL
			, DELIVERY_EMAIL
			, DELIVERY_MSG
			, POST_CODE
			, ROAD_ADDR
			, DETAIL_ADDR
		FROM BUY_INFO
		WHERE ID = #{id}
		AND ORDER_CODE = #{orderCode}
		ORDER BY ROWNUM
	</select>
	
	<!-- 방금 주문한 상품 리스트 조회 -->
	<select id="selectRecentBoughtList" resultMap="buyInfo">
	SELECT BUY_CODE
		, ATTACHED_IMG_NAME
		, ITEM_CODE
		, ITEM_NAME
		, TOTAL_PRICE
		, TO_CHAR(BUY_DATE, 'YY-MM-DD HH24-MI') AS BUY_DATE
		, (TOTAL_PRICE / BUY_CNT) AS ITEM_PRICE
           , BUY_CNT
		, BUY_STATUS
		, PAYMENT_PLAN
		, DELIVERY_NAME
		, DELIVERY_TELL
		, DELIVERY_EMAIL
		, DELIVERY_MSG
		, POST_CODE
		, ROAD_ADDR
		, DETAIL_ADDR
	FROM BUY_INFO
	WHERE ORDER_CODE = #{orderCode}
	ORDER BY ROWNUM
	</select>
	
	<!-- 구매 날짜 조회 -->
	<select id="selectBuyDate" resultType="String">
		SELECT BUY_DATE
		FROM BUY_INFO
		WHERE ORDER_CODE = #{orderCode}
	</select>
	
	<!-- 주문 코드 조회 -->
	<select id="selectOrderCode" resultType="String">
		SELECT ORDER_CODE
		FROM BUY_INFO
		WHERE ID = #{id}
	</select>
	<!-- 주문 조회 -->
	<select id="selectOrderLookup" resultMap="buyInfo">
		<!-- SELECT TO_CHAR(BUY_DATE, 'YYYY-MM-DD') AS BUY_DATE
		    , ORDER_CODE
		    , ATTACHED_IMG_NAME
		    , ITEM_CODE
		    , BUY_CNT
		    , TOTAL_PRICE
		    , BUY_STATUS
		    , (SELECT ITEM_NAME FROM ITEM I WHERE BI.ITEM_CODE = I.ITEM_CODE) AS ITEM_NAME
		    , (SELECT CATE_CODE FROM ITEM I WHERE BI.ITEM_CODE = I.ITEM_CODE) AS CATE_CODE
		    , RNUM
		FROM(
			SELECT TO_CHAR(BUY_DATE, 'YYYY-MM-DD') AS BUY_DATE
			    , ORDER_CODE
			    , ATTACHED_IMG_NAME
			    , ITEM_CODE
			    , BUY_CNT
			    , TOTAL_PRICE
			    , BUY_STATUS
			    , (SELECT ITEM_NAME FROM ITEM I WHERE BI.ITEM_CODE = I.ITEM_CODE) AS ITEM_NAME
			    , (SELECT CATE_CODE FROM ITEM I WHERE BI.ITEM_CODE = I.ITEM_CODE) AS CATE_CODE
			    , ROWNUM RNUM
			FROM( -->
				SELECT TO_CHAR(BUY_DATE, 'YYYY-MM-DD') AS BUY_DATE
				    , ORDER_CODE
				    , ATTACHED_IMG_NAME
				    , ITEM_CODE
				    , BUY_CNT
				    , TOTAL_PRICE
				    , BUY_STATUS
				    , (SELECT ITEM_NAME FROM ITEM I WHERE BI.ITEM_CODE = I.ITEM_CODE) AS ITEM_NAME
				    , (SELECT CATE_CODE FROM ITEM I WHERE BI.ITEM_CODE = I.ITEM_CODE) AS CATE_CODE
				FROM BUY_INFO BI
				WHERE ID = #{id}
				<if test="startDate != null and !startDate.equals('') and endDate != null and !endDate.equals('')">
				AND TO_CHAR(BUY_DATE, 'YYYY-MM-DD') BETWEEN #{startDate} AND #{endDate}
				</if><!-- ) -->
			ORDER BY ORDER_CODE DESC
			<!-- )
		WHERE RNUM BETWEEN #{startRow} and #{endRow} -->
	</select>
	
	<!-- 주문 상세 조회 -->
	<select id="selectOrderDetailList" resultMap="buyInfo">
		SELECT ORDER_CODE
		    , BUY_DATE
		    , BUY_STATUS
		    , TOTAL_PRICE
		    , PAYMENT_PLAN
		    , ATTACHED_IMG_NAME
		    , ITEM_CODE
		    , (SELECT ITEM_NAME FROM ITEM I WHERE I.ITEM_CODE = BI.ITEM_CODE) AS ITEM_NAME
		    , BUY_CNT
		    , BUY_STATUS
		    , DELIVERY_NAME
		    , POST_CODE
		    , ROAD_ADDR
		    , DETAIL_ADDR
		    , DELIVERY_TELL
		    , DELIVERY_MSG
		    , DELIVERY_EMAIL
		    , (SELECT SUM(TOTAL_PRICE) FROM BUY_INFO WHERE ORDER_CODE = #{orderCode} ) AS ALL_TOTAL_PRICE
		FROM BUY_INFO BI
		WHERE ORDER_CODE = #{orderCode}
	</select>
	
	<!-- 리뷰 등록버튼 열기위한 조회 -->
	<select id="selectItemCodeByReview" resultType="String">
		SELECT ITEM_CODE 
		FROM BUY_INFO 
		WHERE ID = #{id}
		AND ITEM_CODE = #{itemCode}
		AND ROWNUM = 1
	</select>
	
	<!-- 장바구니 조회를 위한 아이 -->
	<select id="selectCartItemCode" resultMap="cartView">
		SELECT ITEM_CODE
		FROM CART_VIEW
		WHERE ID = #{id}
	</select>
	
	
</mapper>













