<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="feedbackMapper">
	<resultMap type="com.kh.project.board.vo.FeedbackVO" id="feedback">
		<id column="FB_CODE"					 property="fbCode"/>
		<result column="TITLE"					 property="title"/>
		<result column="CONTENT"				 property="content"/>
		<result column="ORIGINAL_FILE_NAME"		 property="originalFileName"/>
		<result column="ATTACHED_FILE_NAME" 	 property="attachedFileName"/>
		<result column="CREATE_DATE" 	 		 property="createDate"/>
		<result column="ITEM_CODE"			 	 property="itemCode"/>
		<result column="ID"			 			 property="id"/>
	</resultMap>
	
	<!-- 후기 등록 -->
	<insert id="insert">
		INSERT INTO FEEDBACK(
			FB_CODE
			,TITLE
			,CONTENT
			,ORIGINAL_FILE_NAME
			,ATTACHED_FILE_NAME
			,ITEM_CODE
			,ID
		)
		VALUES(
			(SELECT 'FB_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(FB_CODE,4,3))),0)+1,3,0) FROM FEEDBACK)
			,#{title}
			,#{content}
			,#{originalFileName}
			,#{attachedFileName}
			,#{itemCode}
			,#{id}
		) 
	</insert>
	
	<!-- 게시글(상품)에서 후기보여주기 -->
	<select id="feedbackList" resultMap="feedback">
		SELECT FB_CODE, TITLE, CONTENT, ATTACHED_FILE_NAME ,ID ,CREATE_DATE
		FROM FEEDBACK
		WHERE ITEM_CODE = #{itemCode}
		ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- feedback 수정하기 -->
	<update id="updateFeedback">
		UPDATE FEEDBACK
		SET	TITLE = #{title}
			, CONTENT = #{content}
			<if test="attachedFileName != null and !attachedFileName.equals('')">
			, ATTACHED_FILE_NAME = #{attachedFileName}
			, ORIGINAL_FILE_NAME = #{originalFileName}
			</if>
			, CREATE_DATE = SYSDATE
		WHERE FB_CODE = #{fbCode}
	</update>
	
	<!-- 후기 삭제 처리 -->
	<delete id="deleteFeedback">
		DELETE FEEDBACK
		WHERE FB_CODE = #{fbCode}
	</delete>
	
	<select id="cancelUpdateFeedbackData" resultMap="feedback">
		SELECT TITLE, CONTENT
		FROM FEEDBACK
		WHERE FB_CODE = #{fbCode}
	</select>
</mapper>












