<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="itemMapper">
	<resultMap type="com.kh.project.item.vo.ItemVO" id="item">
		<id column="ITEM_CODE"			property="itemCode"/>
		<result column="ITEM_NAME"		property="itemName"/>
		<result column="ITEM_PRICE"		property="itemPrice"/>
		<result column="ITEM_INTRO"		property="itemIntro"/>
		<result column="ITEM_STOCK"		property="itemStock"/>
		<result column="ITEM_STATUS"	property="itemStatus"/>
		<result column="CATE_CODE"		property="cateCode"/>
		<collection property="imgList"	resultMap="img"></collection>
	</resultMap>
	
	<resultMap type="com.kh.project.item.vo.CategoryVO" id="category">
		<id column="CATE_CODE"		property="cateCode"/>
		<result column="CATE_NAME"	property="cateName"/>
		<result column="CATE_PASS"	property="catePass"/>
	</resultMap>
	
	<resultMap type="com.kh.project.item.vo.ImgVO" id="img">
		<id column="IMG_CODE"				property="imgCode"/>
		<result column="ORIGIN_IMG_NAME"	property="originImgName"/>
		<result column="ATTACHED_IMG_NAME"	property="attachedImgName"/>
		<result column="ITEM_CODE"			property="itemCode"/>
		<result column="IS_MAIN"			property="isMain"/>
	</resultMap>
 
 	<select id="selectItemList" resultMap="item">
 		SELECT ITEM.ITEM_CODE
 			, ITEM_NAME
 			, ITEM_PRICE
 			, ITEM_INTRO
 			, ATTACHED_IMG_NAME
 			, CATE_CODE
 			, ROWNUM
 		FROM ITEM ITEM, ITEM_IMG IMG
 		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
 		<if test="cateCode != null and !cateCode.equals('')">
 		AND CATE_CODE = #{cateCode}
 		</if>
 		AND IS_MAIN = 'Y'
 		ORDER BY ITEM_CODE DESC
 	</select>
 	
 	<!-- 최근 등록 아이템 -->
 	<select id="selectRecentItemList" resultMap="item">
 		SELECT ITEM.ITEM_CODE
 			, ITEM_NAME
 			, ITEM_PRICE
 			, ITEM_INTRO
 			, ATTACHED_IMG_NAME
 			, CATE_CODE
 			, ROWNUM
 		FROM ITEM ITEM, ITEM_IMG IMG
 		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
 		AND IS_MAIN = 'Y'
 		AND ITEM_STATUS = 2
 		AND ROWNUM &lt; 21
 		ORDER BY ITEM_CODE DESC
 	</select>
 	
 	<!-- 베스트 아이템 -->
 	<select id="selectBestItemList" resultMap="item">
 		SELECT ITEM.ITEM_CODE
 			, ITEM_NAME
 			, ITEM_PRICE
 			, ITEM_INTRO
 			, ATTACHED_IMG_NAME
 			, CATE_CODE
 			, ROWNUM
 		FROM ITEM ITEM, ITEM_IMG IMG
 		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
 		<if test="cateCode != null and !cateCode.equals('')">
 		AND CATE_CODE = #{cateCode}
 		</if>
 		AND IS_MAIN = 'Y'
 		AND ITEM_STATUS = 2
 		AND ITEM_STOCK &lt; 50
 	</select>
 	
 	<!-- 카테고리 목록조회 -->
 	<select id="selectCategoryList" resultMap="category">
 		SELECT CATE_CODE
 			, CATE_NAME
 			, CATE_PASS
 		FROM CATEGORY
 		ORDER BY CATE_CODE
 	</select>
 	
 	<!-- 메인페이지에서 상품검색 -->
 	<select id="mainPageSearchList" resultMap="item">
 		SELECT ITEM.ITEM_CODE
 			, ITEM_NAME
 			, ITEM_INTRO
 			, ITEM_PRICE
 			, CATE_CODE
 			, ATTACHED_IMG_NAME
 			, ROWNUM
 		FROM ITEM ITEM, ITEM_IMG IMG
 		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
 		AND IS_MAIN = 'Y'
 		<if test="!searchValue.equals('all')">
 		AND ITEM_NAME LIKE '%'||#{searchValue}||'%'
 		</if>
 		<if test="searchKeyword != null and !searchKeyword.equals('') and !searchKeyword.equals('all')">
 		AND CATE_CODE = #{searchKeyword}
 		</if>
 		<if test="minPrice != 0 and maxPrice != 0">
 		AND ITEM_PRICE &gt;= #{minPrice}
 		AND ITEM_PRICE &lt;= #{maxPrice}
 		AND ITEM_PRICE &lt;= #{maxPrice}
 		</if>
 		<if test="minPrice != 0 and maxPrice == 0">
 		AND ITEM_PRICE &gt;= #{minPrice}
 		</if>
 		<if test="minPrice == 0 and maxPrice != 0">
 		AND ITEM_PRICE &lt;= #{maxPrice}
 		</if>
 		<if test="orderBy != null and !orderBy.equals('')">
 		ORDER BY ${orderBy}
 		</if>
 	</select>
 	
 	<!-- 검색한 상품 갯수 -->
 	<select id="mainPageSearchCnt" resultType="int">
 		SELECT COUNT(ITEM_NAME)
 		FROM ITEM
 		<if test="!searchValue.equals('all')">
 		WHERE ITEM_NAME LIKE '%'||#{searchValue}||'%' 
 		</if>
 		<if test="searchKeyword != null and !searchKeyword.equals('') and !searchKeyword.equals('all')">
 		AND CATE_CODE = #{searchKeyword}
 		</if>
 		<if test="minPrice != 0 and maxPrice != 0">
 		AND ITEM_PRICE &gt;= #{minPrice}
 		AND ITEM_PRICE &lt;= #{maxPrice}
 		AND ITEM_PRICE &lt;= #{maxPrice}
 		</if>
 		<if test="minPrice != 0 and maxPrice == 0">
 		AND ITEM_PRICE &gt;= #{minPrice}
 		</if>
 		<if test="minPrice == 0 and maxPrice != 0">
 		AND ITEM_PRICE &lt;= #{maxPrice}
 		</if>
 		<if test="orderBy != null and !orderBy.equals('')">
 		ORDER BY ${orderBy}
 		</if>
 	</select>
 	
 	<!-- 상품 상세페이지 -->
 	<select id="selectItemDetail" resultMap="item">
 		SELECT ITEM.ITEM_CODE
 			, ITEM_NAME
 			, ITEM_PRICE
 			, ITEM_INTRO
 			, ITEM_STOCK
 			, ITEM_STATUS
 			, CATE_CODE
 			, ATTACHED_IMG_NAME
 		FROM ITEM ITEM, ITEM_IMG IMG
 		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
 		AND ITEM.ITEM_CODE = #{itemCode}
 	</select>
 	
 	<!-- 상품 카테고리 페이지 -->
 	<select id="" resultMap="item">
 		SELECT
 	</select>
 	
 	<!-- 패스 정해주기 -->
 	<select id="selectPath" resultMap="category">
 		SELECT CATE_NAME
 			, CATE_CODE
 		FROM CATEGORY
 		WHERE CATE_CODE = #{cateCode}
 	</select>
 
</mapper>












