<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="memberMapper">
	<resultMap type="com.kh.project.member.vo.MemberVO" id="member">
		<id column="ID"	property="id"/>
		<result column="PW"	property="pw"/>
		<result column="NAME"	property="name"/>
		<result column="TELL"	property="tell"/>
		<result column="POST_CODE"	property="postCode"/>
		<result column="ROAD_ADDR"	property="roadAddr"/>
		<result column="DETAIL_ADDR"	property="detailAddr"/>
		<result column="GENDER"	property="gender"/>
		<result column="EMAIL"	property="email"/>
		<result column="BIRTHDAY"	property="birthday"/>
		<result column="IS_ADMIN"	property="isAdmin"/>
		<result column="JOIN_DATE"	property="joinDate"/>
	</resultMap>
	
	<insert id="memberJoin">
		INSERT INTO MEMBER(
			ID
			, PW
			, NAME
			, TELL
			, POST_CODE
			, ROAD_ADDR
			, DETAIL_ADDR
			, GENDER
			, EMAIL
			, BIRTHDAY
		) VALUES(
			#{id}
			, #{pw}
			, #{name}
			, #{tell}
			, #{postCode}
			, #{roadAddr}
			, #{detailAddr}
			, #{gender}
			, #{email}
			, #{birthday}
		)
	</insert>
	
	<!-- 로그인  -->
	<select id="login" resultMap="member">
			SELECT ID
			, NAME
			, IS_ADMIN
			FROM MEMBER
			WHERE ID = #{id}
			AND PW = #{pw}
	</select>
	
	
	<!-- 아이디 중복체크  -->
	<select id="confirmRepetitionId" resultType="String">
		SELECT ID
		FROM MEMBER
		WHERE ID = #{id}
	</select>
	
	<!-- 회원삭제  -->
	<delete id="deleteMember">
		DELETE FROM MEMBER
		WHERE ID = #{id}
		AND PW = #{pw}
	</delete>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultMap="member">
		SELECT ID
		, NAME
		, EMAIL
		FROM MEMBER
		WHERE NAME = #{name}
		AND EMAIL = #{email}
	</select>
	
	<!-- 비밀번호 찾기  -->
	<select id="findPw" resultType="String">
		SELECT PW
		FROM MEMBER
		WHERE ID = #{id}
		AND EMAIL = #{email}
	</select>
	
	<!--비밀번호 변경  -->
	<update id="updatePw">
		UPDATE MEMBER 
		SET PW = #{pw}
		WHERE ID = #{id}
	</update>
	
	<!-- 정보수정 -->
	<update id="updateInfo">
		UPDATE MEMBER
		SET POST_CODE = #{postCode}
			, ROAD_ADDR = #{roadAddr}
			, DETAIL_ADDR = #{detailAddr}
			, TELL = #{tell}
			, EMAIL = #{email}
			, PW = #{pw}
		WHERE ID = #{id} 
	</update>
	
	
	<!-- 구입시 기존 회원정보 조회 -->
	<select id="selectBuyMemberInfo" resultMap="member">
		SELECT ID
			, NAME
			, TELL
			, EMAIL
			, POST_CODE
			, ROAD_ADDR
			, DETAIL_ADDR
		FROM MEMBER
		WHERE ID = #{id}
	</select>
	
	<!-- 이메일 맞는지 확인 -->
	<select id="checkEmail" resultType="String">
		SELECT EMAIL
		FROM MEMBER
		WHERE ID = #{id}
	</select>
</mapper>












