<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="replyMapper">
	<resultMap type="com.kh.project.board.vo.ReplyVO" id="reply">
		<id column="REPLY_CODE"					 property="replyCode"/>
		<result column="WRITER"					 property="writer"/>
		<result column="CONTENT"				 property="content"/>
		<result column="CREATE_DATE"			 property="createDate"/>
		<result column="BOARD_NUM" 				 property="boardNum"/>
	</resultMap>
	
	<!-- 댓글 리스트 -->
	<select id="replyList" resultMap="reply">
		SELECT REPLY_CODE, WRITER, CONTENT, CREATE_DATE
		FROM BOARD_REPLY
		WHERE BOARD_NUM= #{boardNum}
		ORDER BY CREATE_DATE DESC
		
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="insertReply">
		INSERT INTO BOARD_REPLY(REPLY_CODE, WRITER, CONTENT, BOARD_NUM) 
		VALUES(
			(SELECT 'REPLY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(REPLY_CODE,7,3))),0)+1,3,0) FROM BOARD_REPLY)
			,#{writer}
			,#{content}
			,#{boardNum}
			)
	</insert>
	
	<!-- 댓글 취소를 위한 기존의 내용 데이터만 받기 -->
	<select id="cancelReplyData" resultType="String">
		SELECT CONTENT
		FROM BOARD_REPLY
		WHERE REPLY_CODE= #{replyCode}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateReply">
		UPDATE BOARD_REPLY
		SET CONTENT = #{content}, CREATE_DATE = SYSDATE
		WHERE REPLY_CODE= #{replyCode}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply">
		DELETE BOARD_REPLY
		WHERE REPLY_CODE= #{replyCode}
	</delete>
	
	
</mapper>












